.block {
    margin-bottom: 15px;
    max-width: 500px;
}

.block div {
    border: 1px solid black;
    padding: 5px 10px;
}

.block .firstline {
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0 0;
    position: relative;
}

.block .firstline::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: black;
    left: 54px;
    top: 0;
}

.block .secondline {
    border-top: none;
    border-radius: 0 0 10px 10px;
    background-color: rgb(151, 187, 67);
}

input[type=checkbox] {
        display: none;
    }

label {
    font-size: 20px;
    color: blue;
}

label::before {
    content: "−";
    color: blue;
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    margin-right: 100px;
    position: relative;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid blue;
    vertical-align: middle;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    }

input[type=checkbox]:checked + label::before {
        content: "+";
        color: red;
        border-color: red;
    }

input[type=checkbox]:checked + label {
    color: red;
    }

/*--------------------------PORTFOLIO---------------------------*/

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
